<!doctype html>
<html lang="en">

<head>

  <!-- Webpage Title -->
  <title>!!!!!!!!!!!!!가구 찾기!!!!!!!!!!!!!!!!!!!!</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">

  <!-- JS -->
  <script src="{{ url_for('static', filename='script3.js') }}"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>




  <script>

  </script>


  <!-- style -->
  <style>
    
  </style>

</head>

<body>
  <div class="bgimg">
    <p>
      가나다라마바사아아아
    </p>


    <figure class="snip1446" style="float: left; width: 60%; padding:5px;">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample15.jpg" alt="sample15" />
      <figcaption>
        <h2>브랜드</h2>
        <p>이름</p>
        <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
        <div class="icons"><a href="#"><i class="ion-chatbubbles"></i></a>
          <a href="#"> <i class="ion-person-add"></i></a>
          <a href="#"> <i class="ion-heart"></i></a>
        </div>
      </figcaption>
    </figure>

    <figure class="snip1446" style="float: left; width: 60%; padding:10px;">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52" />
      <figcaption>
        <h2>Niles Peppertrout</h2>
        <p>Given that sooner or later we're all just going to die, what's the point of learning about integers?</p>
        <div class="icons"><a href="#"><i class="ion-chatbubbles"></i></a>
          <a href="#"> <i class="ion-person-add"></i></a>
          <a href="#"> rr<i class="ion-heart"></i></a>
        </div>
      </figcaption>
    </figure>

    <figure class="snip1446" style="float: left; width: 33%; padding:10px;">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample71.jpg" alt="sample71" />
      <figcaption>
        <h2>Ingredia Nutrisha</h2>
        <p>That's the problem with nature, something's always stinging you or oozing mucous all over you.</p>
        <div class="icons"><a href="#"><i class="ion-chatbubbles"></i></a>
          <a href="#"> <i class="ion-person-add"></i></a>
          <a href="#"> <i class="ion-heart"></i></a>
        </div>
      </figcaption>
    </figure>

    <figure class="snip1446" style="float: left; width: 33%; padding:10px;">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample71.jpg" alt="sample71" />
      <figcaption>
        <h2>Ingredia Nutrisha</h2>
        <p>That's the problem with nature, something's always stinging you or oozing mucous all over you.</p>
        <div class="icons"><a href="#"><i class="ion-chatbubbles"></i></a>
          <a href="#"> <i class="ion-person-add"></i></a>
          <a href="#"> <i class="ion-heart"></i></a>
        </div>
      </figcaption>
    </figure>
  </div>

  </div>
</body>

</html>